body {
    background-color: tan;
    color: black;
}
@media screen and (min-width: 768px) {
    body {
        background-color: lightskyblue;
        font-size: 25px

    }
    h1 {display: none}
    div.small {float:left; display:inline; width: 25%;margin: 15px;border-style: solid; padding:10px}
    div.medium {float:left; display:inline; width: 25%;margin: 15px;border-style: solid;padding:10px}
    div.large {float:left; display:inline; width: 25%;margin: 15px;border-style: solid;padding:10px}
}
@media screen and (min-width:500px) and (max-width: 768px) {
    body {
        background-color: lightseagreen;
        font-size: 20px

    }
    div.small {float:left; margin-top:17%; display:block;border-style: solid; width: 66%;padding:10px}
    div.medium {float: right;margin-right:-18%; display:block;border-style: solid; width: 33%; 5px;padding:20px}
    div.large {float:left; display:block;border-style: solid; width: 100%;margin: 5px;padding:10px}

}
@media screen and (max-width: 500px) {
    body {
        background-color: indianred;
        font-size: 15px
    }
    h1 {display: none}
    div.medium {style="z-index: 3; position: absolute; top: 0px; left: 0px;}
    div.large {style="z-index: 2; position: absolute; top: 0px; left: 0px;}
    div small {style="z-index: 1; position: absolute; top: 0px; left: 0px;}
}


