body {
    background-color: tan;
    color: black;
}
@media screen and (min-width: 768px) {
    body {
        background-color: lightskyblue;
        font-size: 25px

    }
    h1 {display: none}
    div.small {float:left; width: 25%;margin: 15px;border-style: solid; padding:10px}
    div.medium {float:left;  width: 25%;margin: 15px;border-style: solid;padding:10px}
    div.large {float:left;  width: 25%;margin: 15px;border-style: solid;padding:10px}
}
@media screen and (min-width:500px) and (max-width: 768px) {
    body {
        background-color: lightseagreen;
        font-size: 20px

    }
    div.small {width: 63%; float:left; mergin-left:10%; border-style: solid;padding:5px }
    div.medium {width: 30%; float:right; clear:right; border-style: solid;padding:5px}
    div.large { width: 100%; float:left; margin-top: 5%;border-style: solid;padding:5px }

}
@media screen and (max-width: 500px) {
    body {
        background-color: indianred;
        font-size: 15px
    }
    h1 {display: none}
    div.medium {style="z-index: 3; position: absolute; top: 0px; left: 0px;}
    div.large {style="z-index: 2; position: absolute; top: 0px; left: 0px;}
    div small {style="z-index: 1; position: absolute; top: 0px; left: 0px;}
}


