body {
    background-color: tan;
    color: black;
}
@media screen and (min-width: 768px) {
    body {
        background-color: lightskyblue;
        font-size: 20px
    }
    div.small {display: none}
    div.medium {display: none}
}
@media screen and (max-width: 768px) {
    body {
        background-color: lightseagreen;
        font-size: 30px
    }
    div.small {display: none}
    div.large {display: none}
}
@media screen and (max-width: 300px) {
    body {
        background-color: indianred;
    font-size: 50px}
    div.medium {display: none}
    div.large {display: none}
}
